:root {
    --primary: #225925;
    --secondary: #f8f8f8;
    --tertiary: #4f5051;
}

body {
    background-color: #afafae;
}

.navbar {
    font-size: 24px;
    background-color: var(--primary);
}

.aside {
    background-color: var(--tertiary);
    border:var(--primary) solid 4px;
    border-top: none;
}

.aside h3 {
    color: var(--secondary);
}

.recent, #search {
    background-color: var(--primary);
}

#current {
    background-color: var(--tertiary);
    border: solid var(--primary) 4px;
    color: var(--secondary);
    border-top: none;
}

#city-name {
    font-size: 26px;
}

#logo {
    display: flex;
}

#temp, #wind, #humidity, #uvindex {
    font-size: 18px;
}

#fday {
    color: var(--secondary);
}

.card {
    background-color: var(--tertiary);
    color: var(--secondary);
    border: var(--primary) solid 2px;
}

.card p {
    line-height: 35px;
    margin-left: 4px;
}